@model Users.Infrastructure.Wechat.UserInfo

<div class="panel panel-primary">
    <div class="panel-heading">User Details</div>
    <table class="table table-striped">
        <tr>
            <th>@Model.NickName</th>
            <td><img src="@Model.HeadimgUrl"/></td>
        </tr>
    </table>
</div>
